@import './buefy-config';

html, body {
  background: $grey-light;
  min-height: 100%;
}


.table.has-mobile-cards {
  background: transparent;
  tbody tr {
    background: $white !important;
  }
}

section.content {
  padding: 2rem;
  background: $neutral-lightest;
  border-radius: 4px;
}

.section.no-top {
  padding-top: 0;
}

.section.separate-tab-content .b-tabs .tab-content {
  display: none !important;
}

.vue-treeselect__multi-value-item {
  border: 1px dotted $primary-dark;
  color: $primary-darker;
  background: $primary-lightest;
  font-size: .85rem !important;
  .vue-treeselect__multi-value-label {
    white-space: normal;
  }
  &:hover {
    color: $primary-darkest;
    background: $neutral-lighter;
    .vue-treeselect__icon.vue-treeselect__value-remove {
      color: $danger;
    }
  }
  .vue-treeselect__icon.vue-treeselect__value-remove {
    color: $primary-darker;
  }
}

.vue-treeselect__label-container:hover .vue-treeselect__checkbox--unchecked {
  border-color: $primary-dark !important;
}

.vue-treeselect__checkbox--checked,
.vue-treeselect__checkbox--indeterminate {
  border-color: $primary-dark !important;
  background: $primary-dark !important;
  &:hover {
    border-color: $primary-dark !important;
    background: $primary-dark !important;
  }
}
